<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data.Linq.Properties.Settings.UTTTCIBERCOMDBConnectionString"
            connectionString="Data Source=UTTTCIBERCOMDB.mssql.somee.com;Initial Catalog=UTTTCIBERCOMDB;Persist Security Info=True;User ID=EduardoRivas_SQLLogin_1;Password=f8tc2ie7xs"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>